* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
}

h2 {
  margin: 16px 0;
  font-weight: normal;
}

button {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  letter-spacing: 1px;

  background-color: #ACD132;
  color: white;
  border-style: none;
  border-radius: 4px;

  margin: 4px;
  padding: 4px 8px;

  cursor: pointer;
}

/* button {
  background-color: #3c3c49;
  color: white;
  font-weight: bold;

  padding: 4px 8px;
  border: 2px solid #ACD132;
  border-radius: 4px;

  margin: 4px;
} */

table {
  border-collapse: collapse;
}

input {
  font-size: 14px;
  border-radius: 4px;
  margin: 4px;
  padding: 4px;
  border-style: none;
}
